.review-wrapper,
.register-wrapper,
.login-wrapper {
  background-color: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100vw;
  // background-size: 100% 100%;
  // background-image: url("../styles/assets/homepic.jpeg");
  // margin:0;
  // // min-height: 100vh;
  // position: relative;
  // // background-color: grey;
  // // background-blend-mode: multiply;
  // background-repeat: no-repeat;
  // // background-size: cover;
  // object-fit: cover;
  // // height: inherit;
}

.review-page {
  margin-top: -5%;
}

.review-form {
  margin: 0 auto;
  text-align: center;
}
.form-page {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  form {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0,0,0,0.5);
    color: white;
    padding: 5%;
    // font-size: 30px;
    // padding: 45px;
    border-radius: 8px;
    // height:30vh;
    // color: $fontcolor;
    transition: 0.4s ease-in-out;
    h3 {
      margin-bottom: 20px;
    }
    .form-field {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      label {
        font-weight: bold;
        text-align: left;
        margin-bottom: 5px;
        margin:0 auto;
        font-size:20px;
      }
      input {
        font-size: 16px;
        border-color: rgba(0 0 0 /0.16);
        width: 30%;
        height: 3vh;
        margin: 10px auto;
        background-color: rgba(0,0,0,0);
        border: 1px solid white;
        color: white;
        padding-left:1.5%;
        // background-color: $fontcolor;
        // color: rgb(192, 235, 255);
        border-radius: 6px;
      }
      .error {
        color: red;
        font-size: 14px;
        margin-bottom: 0;
      }
    }
    button {
      display: block;
      margin-top: 10px;
      color: white;
      cursor: pointer;
      &:hover {
        color: white;
        background-color: rgb(0,0,0,0);
        border: 1px solid white;
      }
      // background-color: $fontcolor;
    }

    p {
      // margin-top: 20px;
      a {
        text-decoration: none;
        color: black;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  // margin-top: 200px;
}

button {
  // color: $fontcolor;
  padding: 5px 8px 5px 8px;
  border-radius: 6px;
  border: none;
  margin: 0 auto 10px;
  width: 25vh;
  transition: 0.4s ease-in-out;
  color: white;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.3);
  &:hover {
    transform: scale(1.05);
  }
}

.form-field {
  text-align: center;
}

.textarea {
  width: -webkit-fill-available;
  height: 10vh;
  border: none;
  border-radius: 10px;
  margin:2%;
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  color: white;
  // background-color: $fontcolor;
  // color: rgb(193, 129, 11);
}

.preference {
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  color: white;
}

select {
  // .title-select{
  //   width: 40vw;
  //   height: 2vh;
  // }
  color: rgb(3, 6, 7);
  border-radius: 10px;
  width: 10vh;
  text-align: center;
  border: none;
  margin:1%;
  // width: 40vw;
  // height: 2vh;
  // background-color: $fontcolor;
}

.title-select{
  width: 20vw;
  height: 2vh;
  background-color: rgba(0,0,0,0);
  border: 1px solid white;
  color: white;
}

.checkbox {
    width: 2vw;
    height: 2vh;
}

.review-label {
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
    // margin-top: 0;
  }
}

// .form-page form p {
//   margin-top: 0;
// }

.no-account {
  font-size:20px;
  // margin: 0;
  // margin-top: 50%;
  a {
    &:hover {
      text-decoration: none;
      color: white;
    }
    span {
      color: white;
    }
  }
}

.btn {
  transition: 0.4s ease-in-out;
  // color: white;
  // border: 1px solid white;
  // background-color: rgba(0,0,0,0.3);
}

.title {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: 'Cairo', sans-serif;
  color:aliceblue;
  width: 188px;
  margin: 0 auto;
  // margin-left: 90vw;
  // margin-top: 20vh;
  // rgb(221, 130, 130, 0.5), 
  padding-left: 30px;
  // margin-left: 45%;
  .b, .o, .u, .n, .c, .e {
    font-size: 100px;
    color: white;
    text-shadow: 0 3px black, 0 5px black, 0 7px black;
  }
}

.logout {
  color: white;
  cursor: pointer;
  padding: 5px;
  font-size:30px;
  &:hover {
    text-decoration: underline;
  }
}

.title-card,
.review-page{
  a{
    padding: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-right:50%;
    // width:200px;
  .list-link {
    font-size: 18px;
    padding: 5px 10px;
    // color:rgb(0, 0, 0);
    width: 100px;
    color: white;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
        // height: 150px;
        // background-color: rgb(221, 130, 130, 0.5);
    // background-color: white;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    // text-decoration: none;
    &:hover {
      transform: scale(1.1);
      // color: white;
      // border: 1px solid white;
      // background-color: rgba(0,0,0,0.3);
        }
  }
}
}

.review-post {
  font-size: 20px;
}