.title-card-wrapper {
  background-color: rgba(0,0,0,0.8);
}


.title-card {
  width: 40vh;
  margin: 0 auto;
  color: aliceblue;
}

.movie-book-synopsis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-name {
  text-align: center;
  color: aliceblue;
  font-family: 'Montserrat Subrayada', sans-serif;
}

.movie-book {
  display: flex;
  justify-content: space-between;
  a {
    border: none;
    text-decoration: none;
  .learn-more-btn {
    font-size: 18px;
    padding: 5px 10px;
    width: 100px;
    color: white;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1);
        }
    }
}
}

.movie,
.book{
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  .movie-link,
  .book-link {
    margin: 10%;
  }
  h4 {
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: center;
  }
  h3 {
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .movie-image,
  .book-image {
    height: 450px;
    border-radius: 10px;
}
}

.synopsis {
  color: aliceblue;
  text-align: center;
  display: block;
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  padding: 10px;
}

.genre-list {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}


.review-link-div {
  a {
  text-decoration: none;
  border: none;
  margin:0;
  h4,
  .review-link{
    margin:0;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100px;
    color: white;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
    white-space: nowrap;
    padding: 20px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1);
        }
    }
  }
}

.all-reviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(30% - 5px);
}

  .review-box {
    min-width: 45vw;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(117, 114, 114, 0.5);
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 20px;
    margin: 10%;
  }
  .key{
    text-align: center;
    color: black;
    p {
      color: white;
      padding:2%;
    }
  }
  .owner-review {
    display: flex;
    justify-content: flex-start;
    padding: 1%;
  }
  h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 70px;
  }
  h3 {
    margin-bottom: 30px;
  }
  .text-post {
    max-width: 320px;
    word-break: break-all;
  }


.review-post {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  max-width: 322.56px;
  position: relative;
  bottom: 10px;
  margin: 10px;
}

.title-card-wrapper{
  a{
    padding: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-right:75%;
  .list-link {
    font-size: 18px;
    padding: 5px 10px;
    width: 100px;
    color: white;
    border: 1px solid white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    &:hover {
      transform: scale(1.1);
        }
  }
  }
}

